html {
    scroll-behavior: smooth;
}
body { 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

input {
    border: unset;
    outline: unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: inherit;
    transition: scroll-behavior 0.5s ease-in-out;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
}

.container {
    max-width: 1365px;
    margin: 0 auto;
    padding: 0 10px;
}

textarea {
    border: none;
    outline: none;
    resize: none;
}
