.footer {
    padding:20px 0 16px;
    background: #1c1c1c;
    filter: blur(0px);
    color: #fff;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-content {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    a {
        color: #dcdcdc;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    &-item {
        display: inline-block;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;

        &.logo {
            font-family: "hz";
            position: relative;
            span {
                font-weight: 700;
                font-size: 18px;
                position: absolute;
                top: 50%;
                bottom: 25px;
                left: 90px;
                transform: translate(-0%, -50%);
                width: max-content;
            }
        }

        &.cocial {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }

    &-item.first {
        border-bottom: 1px solid orange;
        padding-bottom: 6px;
        width: max-content;
        margin-top: 25px;
    }

    &-last-item {
        color: #fff;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        margin-top: 50px;
    }
}
