.header { 
    img {
        width: 100px;
    }

    &-logo {
        font-family: 'hz';  
        position: relative;
        span {
            font-weight: 700;
            font-size: 18px;
            position: absolute;
            top: 50%;
            bottom: 25px; 
            left: 90px;
            transform: translate(-0%, -50%);
            width: max-content;
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &-link {
        color: #1c1c1c; 
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        transition: .3s;
        &:hover {
            color: orange;
        }
    }
}
