.services {
    padding: 100px 0;
    display: block;

    &-title {
        text-align: center;
        margin-bottom: 100px;
        font-size: 30px;
        font-weight: 600;
        color: #1c1c1c;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-icon {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 3px solid #1c1c1c;
    }

    &-block {
        background: #fff;
        max-width: 300px;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 3px solid #1c1c1c;
    }

    &-name {
        font-size: 18px;
        font-weight: 500;
        margin: 25px 0 15px;
        color: #1c1c1c;
    }

    &-description {
        font-size: 16px;
        font-weight: 400;
        color: #1c1c1c;
        line-height: 22px;
    }
}
