@font-face {
    font-family: 'hz'; /* Замените на имя вашего шрифта */
    src: url('../font/TACTICROUNDEXTEXD-REG.TTF') format('truetype'); /* Замените на путь к вашему файлу шрифта и его формат */
    font-weight: normal;
    font-style: normal;
  }

@import './scss/core';
@import './scss/header';
@import './scss/hero';
@import './scss/sevices';
@import './scss/hosting';
@import './scss/possibilities'; 
@import './scss/design'; 
@import './scss/work';
@import './scss/conect';
@import './scss/send';


@import './scss/footer';